@import "tailwindcss";
@import "./normalize.css";
@import "./reuse.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --bg: #222222;
  --white: #ffffff;
  --green: rgb(49, 238, 51);
  --sc: #a855f7;
  --black: #000000;
}

.kalam {
  font-family: "Kalam", cursive;
}

/* angry font */
@font-face {
  font-family: "angry";
  src: url("./fonts/Angry.woff2") format("woff2"),
    url("./fonts/Angry.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Kalam custom self-hosted */
@font-face {
  font-family: "Kalam";
  src: url("./fonts/Kalam-Regular.woff2") format("woff2"),
    url("./fonts/Kalam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("./fonts/Kalam-Bold.woff2") format("woff2"),
    url("./fonts/Kalam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("./fonts/Kalam-Light.woff2") format("woff2"),
    url("./fonts/Kalam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html,
body,
*,
a,
button,
input,
textarea,
img {
  cursor: url("./assets/mini1.png") 5 5, auto !important;
}

/* Disable custom cursor on touch devices for better performance */
@media (hover: none) and (pointer: coarse) {
  html,
  body,
  *,
  a,
  button,
  input,
  textarea,
  img {
    cursor: auto !important;
  }
}

.containerr {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .containerr {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .containerr {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerr {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containerr {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .containerr {
    max-width: 1320px;
  }
}
